# Copyright (c) 2024 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

if BOARD_ROVERDYN_NRF52DK_52810

config BOARD
	default "roverdyn_nrf52dk_52810"

config BT_CTLR
   default BT

endif
